<mat-toolbar>
  <button mat-icon-button (click)="toggleSideNav()">
    <mat-icon fontSet="material-icons-outlined" matTooltip="Menu lateral"
      >menu</mat-icon
    >
  </button>
  <span class="spacer"></span>
  <button
    mat-icon-button
    (click)="toggleFullScreen()"
    matTooltip="Pantalla completa"
  >
    <mat-icon fontSet="material-icons-outlined">fullscreen</mat-icon>
  </button>
  <!-- <button mat-icon-button>
    <mat-icon fontSet="material-icons-outlined">search</mat-icon>
  </button> -->
  <button
    mat-icon-button
    [matTooltip]="theme ? 'Cambiar a modo claro' : 'Cambiar a modo oscuro'"
    (click)="toggleTheme()"
  >
    <mat-icon fontSet="material-icons-outlined">{{
      theme ? "light_mode" : "dark_mode"
    }}</mat-icon>
  </button>
  <!-- <button mat-icon-button>
    <mat-icon
      matBadge="15"
      matBadgeColor="accent"
      fontSet="material-icons-outlined"
      >inbox</mat-icon
    >
  </button> -->
</mat-toolbar>
