mat-toolbar {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  z-index: 9;
  height: 64px;
  position: relative;
  .spacer {
    flex: 1 1 auto;
  }
  button {
    img {
      height: 30px;
      width: 30px;
    }
  }
  mat-icon {
    color: #64748b;
  }
}

:host-context(.darkTheme) mat-toolbar {
  background: #0a0c12;
  mat-icon {
    color: #fff;
  }
}
