.container {
  width: 280px;
  height: 100vh;
  padding-bottom: 1rem;
  background: #fff;
  overflow: auto;
  color: #000;
  box-sizing: border-box;
  mat-toolbar {
    background-color: transparent;
    color: #000000;
    .logo {
      width: 90px;
      border-radius: 10px;
      display: flex;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      img {
      padding: 0 5px;
      box-sizing: border-box;
      width: 90px;
      height: 50px;
      margin: 0px auto;
      margin-top: -4px;
      }
    }
    .spacer {
      flex: 1 1 auto;
    }
    button {
      margin-left: 5px;
    }
  }
  .profile {
    height: 200px;
    width: 100%;
    padding: 1rem;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    display: flex;
    .img {
      height: 6rem;
      width: 6rem;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      font-weight: 500;
      .name {
        line-height: 1.5;
        font-size: 14px;
        text-align: center;
      }
      .email {
        color: #94a3b8;
        font-size: 13px;
      }
    }
  }
  .menuTitle {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 10px 16px;
    margin: 0 12px;
    margin-top: 24px;
    // color: #818cf8;
  }
  .menu {
    mat-list-item {
      height: 44px;
      margin: 0 12px;
      color: #000000;
      box-sizing: border-box;
      width: auto;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 13px;
      font-weight: 500;
      text-decoration: none;
      border-radius: 6px;
      cursor: pointer;
      &:hover,
      &.active {
        background-color: rgb(255 255 255 / 0.12);
      }
    }
  }
}

.loggedWho {
  display: flex;
  flex-direction: column;
  span {
    font-size: 14px;
    line-height: 14px;
    height: 14px;
    &:last-child {
      font-weight: 500;
    }
  }
}

:host-context(.darkTheme) .container {
  background: #021848;
  color: #fff;
  mat-toolbar {
    color: #ffffff;
  }
  .menu {
    mat-list-item {
      color: #ffffff;
    }
  }
}