<div class="container">
  <mat-toolbar>
    <div class="logo" matRipple>
      <img src="./../../../../assets/logo.svg" />
    </div>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon
        matBadge="15"
        matBadgeColor="accent"
        fontSet="material-icons-outlined"
        >notifications</mat-icon
      >
    </button>
    <button mat-icon-button [matMenuTriggerFor]="account">
      <mat-icon fontSet="material-icons-outlined">account_circle</mat-icon>
    </button>
  </mat-toolbar>
  <div class="profile">
    <div class="img">
      <img src="./../../../../assets/profile.jpeg" alt="" />
    </div>
    <div class="data">
      <div class="name">Victor Larco</div>
      <div class="email">rafaellarcob@gmail.com</div>
    </div>
  </div>
  <ng-container *ngFor="let opt of options">
    <div class="menuTitle">{{ opt.title }}</div>
    <mat-list class="menu">
      <mat-list-item *ngFor="let item of opt.menu" [routerLink]="item.path">
        <mat-icon mat-list-icon fontSet="material-icons-outlined">{{
          item.icon
        }}</mat-icon>
        <div mat-line>{{ item.name }}</div>
      </mat-list-item>
    </mat-list>
  </ng-container>
</div>

<mat-menu #account="matMenu">
  <button mat-menu-item>
    <span class="loggedWho">
      <span>Ingresaste como</span>
      <span>victor.larco@gmail.com</span>
    </span>
  </button>
  <button mat-menu-item>
    <mat-icon fontSet="material-icons-outlined">account_circle</mat-icon>
    <span>Perfil</span>
  </button>
  <button mat-menu-item routerLink="main/settings">
    <mat-icon fontSet="material-icons-outlined">settings</mat-icon>
    <span>Configuración</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logout()">
    <mat-icon fontSet="material-icons-outlined">logout</mat-icon>
    <span>Salir</span>
  </button>
</mat-menu>
