<ng-container *ngIf="displayedColumns">
  <table mat-table [dataSource]="dataSource">
    <ng-container *ngFor="let col of Tcolumns">
      <ng-container [matColumnDef]="col.key">
        <th mat-header-cell *matHeaderCellDef>{{ col.name }}</th>
        <td mat-cell *matCellDef="let element">{{ element[col.key] }}</td>
      </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-container>
