<mat-sidenav-container class="container">
  <mat-sidenav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [opened]="sideNav"
  >
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header *ngIf="header"></app-header>
    <!-- Implementamos un loading para cada petición dentro del body -->
    <ng-container *ngIf="loadingService.isLoading$ | async">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-container>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
