.container {
  height: calc(100vh - 64px);
  overflow: auto;
  padding: 0;
  border-radius: 0;
  transition: 0.2s;
  position: relative;
  width: 100%;
  &.open {
    width: 100%;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-self: space-between;
    align-items: center;
    padding: 2rem 1.5rem;
    .title {
      font-size: 2rem;
      font-weight: 800;
      line-height: 1;
      letter-spacing: -0.025em;
    }
    .cant {
      font-weight: 500;
      color: #64748b;
    }
    .spacer {
      flex: 1 1 auto;
    }
    button {
      width: 100px;
      border-radius: 40px;
    }
  }
  mat-list {
    .subHeader {
      position: sticky;
      top: 0px;
      z-index: 1;
      background-color: #f8fafc;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      border: 1px solid #0000001f;
      border-left: none;
      border-right: none;
      height: 30px;
    }
    mat-list-item {
      background-color: #ffffff;
      cursor: pointer;
      &:hover {
        background-color: #f5f6f8;
      }
    }
    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      line-height: 30px;
      text-align: center;
      color: #475569;
      background-color: #e2e8f0;
      vertical-align: middle;
    }
  }
}

app-showAgency,
app-createAgency {
  display: none;
  position: absolute;
  height: calc(100vh - 64px);
  width: 100%;
  background: #0b1120;
  z-index: 1;
  &.open {
    display: flex;
  }
}

:host {
  display: flex;
  flex-direction: row;
}

:host-context(.darkTheme) .container {
  .header {
    background-color: #10172a;
    .title {
      color: #ffffff;
    }
    .cant {
      color: #ffffff;
    }
    button {
      width: 100px;
      border-radius: 40px;
    }
  }
  mat-list {
    .subHeader {
      background-color: #2b344e;
    }
    mat-list-item {
      background-color: #10172a;
      cursor: pointer;
      &:hover {
        background-color: #16203b;
      }
    }
    .avatar {
      background-color: #475569;
      color: #e2e8f0;
    }
  }
}

@media only screen and (min-width: 960px) {
  .container.open {
    width: 50%;
  }
  app-showAgency,
  app-createAgency {
    position: relative;
    width: 50%;
  }
}
