<mat-card class="container" [class.open]="showAgency || createAgency">
  <div class="header">
    <div>
      <div class="title">Agencias</div>
      <div class="cant">{{ agencies?.length }} encontradas</div>
    </div>
    <span class="spacer"></span>
    <!-- <button color="primary" mat-flat-button (click)="toggleCreateAgency()">
      <mat-icon>add</mat-icon>
      <span>Nuevo</span>
    </button> -->
  </div>
  <mat-list>
    <ng-container *ngFor="let key of objectKeys(list)">
      <div class="subHeader" mat-subheader>{{ key }}</div>
      <mat-list-item
        (click)="toggleAgency(agencyItem)"
        *ngFor="let agencyItem of list[key]; let last = last"
      >
        <div class="avatar" mat-list-icon>{{ getAvatar(agencyItem.agencia) }}</div>
        <div mat-line>{{ agencyItem.agencia }}</div>
        <div mat-line>{{ agencyItem.distrito }}</div>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
    </ng-container>
  </mat-list>
</mat-card>

<app-showAgency
  [class.open]="showAgency"
  [agency]="agency"
  (closeCard)="showAgency = false"
  (editAgency)="toggleCreateAgency()"
></app-showAgency>

<app-createAgency
  [agency]="agency"
  [class.open]="createAgency"
  (closeCard)="editAgencyAction($event)"
></app-createAgency>
