<mat-card class="container" *ngIf="agency">
  <div class="banner">
    <div class="close">
      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <img src="https://picsum.photos/500/200?random={{agency?.agencia}}" alt="">
  </div>
  <div class="content">
    <mat-toolbar>
      <div class="name">{{ agency?.agencia }}</div>
      <div class="spacer"></div>
      <button mat-icon-button (click)="edit()">
        <mat-icon fontSet="material-icons-outlined">edit</mat-icon>
      </button>
    </mat-toolbar>
    <!-- <div class="name">{{ agency?.agencia }}</div> -->
    <mat-list>
      <mat-list-item>
        <mat-icon fontSet="material-icons-outlined" mat-list-icon
          >work_outline</mat-icon
        >
        <div mat-line>{{ agency?.distrito }} - {{ agency?.provincia }} - {{ agency?.departamento }}</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon fontSet="material-icons-outlined" mat-list-icon
          >location_on</mat-icon
        >
        <div mat-line>{{ agency?.direccion }}</div>
      </mat-list-item>
    </mat-list>
    <span class="alert">* el mapa fue testeado y queda funcional pero no puedo compartir mi token personal de google por lo que queda sin token, para que funcione debe ingresar su token en el archivo index.html en donde se importa el api</span>
    <google-map width="100%" height="192px" [center]="center" [zoom]="zoom"></google-map>
  </div>
</mat-card>
