.container {
  display: flex;
  position: relative;
  flex-direction: column;
  height: calc(100vh - 64px);
  width: 100%;
  padding: 0;
  .alert {
    color: red;
  }
  .banner {
    width: 100%;
    height: 12rem;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    padding-right: 0;
    padding-left: 0;
    #map {
      width: 100%;
      height: 100px;
    }
    .close {
      display: flex;
      position: absolute;
      box-sizing: border-box;
      height: 60px;
      left: 0;
      width: 100%;
      color: #ffffff;
      justify-content: flex-end;
      z-index: 1;
      padding: 10px;
      button {
        background-color: #000000;
      }
    }
    img {
      width: 100%;
      height: 200px;
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      vertical-align: top;
    }
  }
  .content {
    padding: 3rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    overflow: auto;
    mat-toolbar {
      background-color: transparent;
      display: flex;
      .name {
        font-weight: 700;
        font-size: 2rem;
        margin-top: 0.75rem;
        height: 40px;
        line-height: 40px;
        margin-bottom: 1.5rem;
      }   
      .spacer {
        flex: 1 1 auto;
      }
    }
    mat-list-item {
      margin-left: -16px;
    }
  }
}

:host-context(.darkTheme) .container {
  background-color: #090d13;
}
