<div class="container">
  <div class="side message">
    <div class="title">Bienvenido a tu nueva</div>
    <div class="subTitle">Banca digital</div>
    <span
      >Tus operaciones de siempre con una mejor imagen.</span
    >
  </div>
  <div class="side login">
    <form [formGroup]="login">
      <img class="logo" src="./../../../assets/logo.svg" alt="logo BCP" />
      <div class="title">Banca por Internet</div>
      <mat-form-field floatLabel="always" class="full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          formControlName="email"
          required
          matInput
          placeholder="victor.larco"
        />
      </mat-form-field>
      <mat-form-field floatLabel="always" class="full-width" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input
          formControlName="password"
          type="password"
          required
          matInput
          placeholder="Ingresa tu contraseña"
        />
      </mat-form-field>
      <div class="row">
        <section class="section">
          <mat-checkbox formControlName="remember_me" class="margin"
            >Recordar usuario</mat-checkbox
          >
        </section>
        <span>Olvidé mi contraseña</span>
      </div>
      <button
        [disabled]="!login.valid"
        mat-raised-button
        color="primary"
        type="button"
        class="btn full-width"
        (click)="doLogin()"
      >
        Ingresar
      </button>
    </form>
  </div>
</div>
