.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  .side {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2rem;
    background-color: #f1f5f9;
    &.login {
      align-items: center;
      justify-content: center;
      form {
        width: 100%;
        .logo {
          width: 8rem;
        }
        .title {
          color:#165ec1;
          font-size: 24px;
          font-weight: 800;
          height: 40px;
          line-height: 40px;
          margin-top: 32px;
          margin-bottom: 2rem;
        }
        .full-width {
          width: 100%;
        }
        .row {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          span {
            padding: 1rem 0 0 0;
            font-size: 14px;
            font-weight: 500;
            color: #f26e27;
            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }
        .btn {
          box-shadow: 0 0 #0003, 0 0 #00000024, 0 0 #0000001f;
          height: 48px;
          min-height: 48px;
          max-height: 48px;
          border-radius: 24px;
          margin-top: 1.5rem;
        }
      }
    }
    &.message {
      display: none;
      background: rgb(4,45,135);
      background: linear-gradient(119deg, #042d87 0%, #165ec1 100%);
      color: #fff;
      padding: 5rem 7rem;
      align-content: center;
      justify-content: center;
      .title {
        font-size: 3rem;
        font-weight: 100;
        line-height: 1;
        margin: 0;
      }
      .subTitle {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1;
        margin-top: 20px;
        margin-bottom: 2rem;
      }
      span {
        font-size: 1rem;
        color: #ffffff;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .container {
    .side {
      padding: 2rem 4rem;
      &.login {
        form {
          width: 320px;
          box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,
            0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
          background-color: #ffffff;
          border-radius: 1rem;
          padding: 3rem;
          height: 100%;
          margin: 0 auto;
        }
      }
    }
  }
}

@media only screen and (min-width: 960px) {
  .container {
    .side {
      padding: 0;
      width: 50%;
      &.login {
        background-color: #ffffff;
        form {
          width: 450px;
          box-shadow: none;
          background-color: #ffffff;
          border-radius: 1rem;
          padding: 3rem;
          height: 100%;
          margin: 0;
          box-sizing: border-box;
          justify-content: center;
          align-items: flex-start;
          display: flex;
          flex-direction: column;
        }
      }
      &.message {
        display: flex;
      }
    }
  }
}
