$Bcp-primary: (
  50 : #e3ecf8,
    100 : #b9cfec,
    200 : #8bafe0,
    300 : #5c8ed4,
    400 : #3976ca,
    500 : #165ec1,
    600 : #1356bb,
    700 : #104cb3,
    800 : #0c42ab,
    900 : #06319e,
    A100 : #cad6ff,
    A200 : #97aeff,
    A400 : #6487ff,
    A700 : #4a73ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);
$Bcp-accent: (
  50 : #fdeee5,
    100 : #fbd4be,
    200 : #f9b793,
    300 : #f69a68,
    400 : #f48447,
    500 : #f26e27,
    600 : #f06623,
    700 : #ee5b1d,
    800 : #ec5117,
    900 : #e83f0e,
    A100 : #ffffff,
    A200 : #ffe6e0,
    A400 : #ffbdad,
    A700 : #ffa894,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$Bcp-warn: (
  50: #e5e9eb,
  100: #bec8cd,
  200: #93a3ac,
  300: #677e8b,
  400: #476372,
  500: #264759,
  600: #224051,
  700: #1c3748,
  800: #172f3e,
  900: #0d202e,
  A100: #6bbbff,
  A200: #38a3ff,
  A400: #058cff,
  A700: #007eeb,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

@import "~@angular/material/theming";
@include mat-core();

$light-primary: mat-palette($Bcp-primary);
$light-accent: mat-palette($Bcp-accent);
$light-warn: mat-palette($Bcp-warn);

$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);
$dark-theme: mat-dark-theme($light-primary, $light-accent, $light-warn);

@include angular-material-theme($light-theme);

.darkTheme {
  @include angular-material-theme($dark-theme);
}
