* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.darkTheme .mat-drawer-side {
  border-right: solid 1px #090d13;
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
}

.mat-form-field.mat-form-field-appearance-fill.mat-form-field-has-label
  .mat-form-field-wrapper {
  margin-top: 24px;
}

.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper {
  margin-bottom: 16px;
  padding-bottom: 0;
}

.mat-form-field-wrapper {
  position: relative;
}

.mat-form-field-appearance-fill .mat-select-arrow-wrapper {
  transform: translateY(0%) !important;
}

.mat-form-field.mat-form-field-appearance-fill
  .mat-form-field-wrapper
  .mat-form-field-flex {
  position: relative;
  display: flex;
  align-items: stretch;
  min-height: 48px;
  border-radius: 6px;
  padding: 0 16px;
  border: 1px solid rgb(203, 213, 225);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,
    0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.darkTheme
  .mat-form-field.mat-form-field-appearance-fill
  .mat-form-field-wrapper
  .mat-form-field-flex {
  border: 1px solid #475568;
  background-color: #2b344e;
  color: #fff;
}

.mat-form-field.mat-form-field-appearance-fill
  .mat-form-field-wrapper
  .mat-form-field-flex
  .mat-form-field-infix {
  position: static;
  display: flex;
  align-items: center;
  width: 88px;
  padding: 0;
  border: 0;
}

.mat-form-field.mat-form-field-appearance-fill
  .mat-form-field-wrapper
  .mat-form-field-flex
  .mat-form-field-infix
  .mat-input-element {
  padding: 14px 0;
  margin-top: 0;
}

.mat-form-field.mat-form-field-appearance-fill
  .mat-form-field-wrapper
  .mat-form-field-flex
  .mat-form-field-infix
  .mat-form-field-label-wrapper {
  top: -25px;
  height: auto;
  padding-top: 0;
  overflow: visible;
  pointer-events: auto;
}

.mat-form-field.mat-form-field-appearance-fill
  .mat-form-field-wrapper
  .mat-form-field-underline {
  display: none;
}

.darkTheme .mat-menu-panel {
  background: #2b344e !important;
}
