<mat-card class="container">
  <div class="banner">
    <img src="./../../../../assets/banner.jpeg" />
  </div>
  <div class="content">
    <div class="name">Editar Agencia</div>
    <form [formGroup]="agencyForm">
      <mat-form-field floatLabel="always" class="full-width" appearance="fill">
        <mat-label>Nombre de la agencia</mat-label>
        <span matPrefix><mat-icon>location_city</mat-icon></span>
        <input
          formControlName="agencia"
          autocomplete="false"
          required
          matInput
        />
      </mat-form-field>
      <mat-form-field floatLabel="always" class="full-width" appearance="fill">
        <mat-label>Distrito</mat-label>
        <span matPrefix><mat-icon>satellite</mat-icon></span>
        <input
          formControlName="distrito"
          autocomplete="false"
          required
          matInput
        />
      </mat-form-field>
      <mat-form-field floatLabel="always" class="full-width" appearance="fill">
        <mat-label>Provincia</mat-label>
        <span matPrefix><mat-icon>fmd_good</mat-icon></span>
        <input
          formControlName="provincia"
          autocomplete="false"
          required
          matInput
        />
      </mat-form-field>
      <mat-form-field floatLabel="always" class="full-width" appearance="fill">
        <mat-label>Departamento</mat-label>
        <span matPrefix><mat-icon>location_searching</mat-icon></span>
        <input
          formControlName="departamento"
          autocomplete="false"
          required
          matInput
        />
      </mat-form-field>
      <mat-form-field floatLabel="always" class="full-width" appearance="fill">
        <mat-label>Direccion</mat-label>
        <span matPrefix><mat-icon>map</mat-icon></span>
        <input
          formControlName="direccion"
          autocomplete="false"
          required
          matInput
        />
      </mat-form-field>
      <div class="options">
        <button mat-flat-button>Cancelar</button>
        <button mat-flat-button (click)="saveAgency()" [disabled]="!agencyForm.valid" color="accent">
          Guardar
        </button>
      </div>
    </form>
  </div>
</mat-card>
