.container {
  display: flex;
  position: relative;
  flex-direction: column;
  height: calc(100vh - 64px);
  width: 100%;
  padding: 0;
  z-index: 1;
  overflow: auto;
  border-radius: 0;
  .banner {
    width: 100%;
    height: 12rem;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    padding-right: 0;
    padding-left: 0;
    .close {
      display: flex;
      position: absolute;
      box-sizing: border-box;
      height: 60px;
      left: 0;
      width: 100%;
      color: #ffffff;
      justify-content: flex-end;
      z-index: 1;
      padding: 10px;
    }
    img {
      width: 100%;
      height: auto;
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      vertical-align: top;
    }
  }
  .content {
    padding: 1rem 3rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 14rem;
    .name {
      font-weight: 700;
      font-size: 2rem;
      margin-top: 0.75rem;
      height: 40px;
      line-height: 40px;
      margin-bottom: 1.5rem;
    }
    mat-form-field {
      color: #000000;
      width: 100%;
      span {
        color: #94a2b8;
        mat-icon {
          line-height: 46px;
          height: 46px;
          margin-right: 10px;
        }
      }
      mat-label {
        color: #121212;
      }
    }
    .options {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 1rem 0;
      box-sizing: border-box;
      justify-content: flex-end;
      button {
        margin-left: 1rem;
        border-radius: 50px;
      }
    }
  }
}

:host-context(.darkTheme) .container {
  background-color: #090d13;
  mat-form-field {
    mat-label {
      color: #ffffff;
    }
  }
}
